@charset "UTF-8";

#listTbl td{
   margin-top:10px;
   border-bottom: 2px solid #82B1FF;  
   background-color: #82B1FF11;
   width: 350px;
   padding-left: 10px;
   font-weight: bold;
   color: #616161;
   font-size: 11pt;
}
 
#listTbl {
   margin-top:0px;
}

.etcTd{
   border-bottom: 2px solid #82B1FF;  
   background-color: #82B1FF11;
   width: 350px;
   padding-left: 2px;
   font-weight: bold;
   color: #616161;
   font-size: 11pt;
}

/*
#buttonTd{
   border-bottom: 2px solid #82B1FF;  
   background-color: #82B1FF11;
   padding-left: 10px;
   font-weight: bold;
   color: #616161;
   font-size: 15pt;
   top: 0px;
   right: 0px;
   width: 10px;
   
}
*/

#detailInfoTbl {
   /* opacity:0.3; */
   border-spacing: 0px;
   background-color: #82B1FF11;
   color: #616161;
   font-size: 11pt;
   font-weight: bold;
   border : medium #82B1FF;
   border-style: solid;
   margin-left: 0px;
}

#detailInfoTbl tr{
   padding-left: 0px;
   margin-left: 0px;

}

#detailInfoTbl td{
   padding-left: 10px;
   background-color: #82B1FF11;
   color: #616161;
   font-size: 11pt;
   border-bottom: 2px solid #82B1FF; 
   width: 350px; 
}